<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Team</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./sources/foundry/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="./sources/foundry/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="./sources/foundry/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="./sources/foundry/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="./sources/foundry/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="./sources/foundry/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="./sources/foundry/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" type="image/png" href="../sources/images/logo/favicon.ico"/>
        <link rel="apple-touch-icon" sizes="57x57" href="../sources/images/logo/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../sources/images/logo/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../sources/images/logo/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../sources/images/logo/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../sources/images/logo/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../sources/images/logo/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../sources/images/logo/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../sources/images/logo/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../sources/images/logo/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../sources/images/logo/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../sources/images/logo/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../sources/images/logo/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../sources/images/logo/favicon-16x16.png">
        <link rel="manifest" href="../sources/images/logo/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../sources/images/logo/ms-icon-144x144.png">
        <link rel="stylesheet" type="text/css" href="../sources/css/font-awesome.min.css">

        <meta name="theme-color" content="#ffffff">
    </head>
    <body class="scroll-assist">
        <div class="nav-container">
            <a id="top"></a>
            <nav>
                <div class="nav-utility">

                   <div class="module left">
                     <a href="/">
                       <i class="ti-home">&nbsp;</i>
                       <span class="sub">PIES</span>
                     </a>

                   </div>
                    <div class="module left">
                        <i class="ti-location-arrow">&nbsp;</i>
                        <span class="sub">San Francisco, CA</span>
                    </div>
                    <div class="module left">
                        <i class="ti-email">&nbsp;</i>
                        <span class="sub">pies.network@gmail.com</span>
                    </div>
                    <div class="module right">
                        <!-- <a class="btn btn-sm hidden-xs hidden-sm hidden-md btn-filled" href="variant/builder.html">Test Network</a> -->
                        <a class="btn btn-sm btn-filled" onclick="login()" style="display:none;" href="#" id="login">PIES network (beta)</a>
                        <a class="btn btn-sm btn-filled" onclick="dashboard()" style="display:none;"href="#" id="dashboard">Dashboard</a>

                    </div>
                    <!-- <div class="module right">
                        <a class="btn btn-sm hidden-xs hidden-sm hidden-md" href="variant/builder.html">Try Builder</a>
                        <a class="btn btn-sm btn-filled" href="#">Buy Now</a>
                    </div> -->
                </div>

            </nav>
        </div>
        <div class="main-container">
            <section class="page-title page-title-1 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="../sources/foundry/img/sf1.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="uppercase mb0">About Us</h2>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
                <!-- <ol class="breadcrumb breadcrumb-2">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li class="active">About Us</li>
                </ol> -->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2 class="number">Progress</h2>
                            <p>
                              The inception of PIES was around mid June of 2017. The application was mapped in two weeks, and development began imminently. In less than three months a working MVP had been built, tested, and deployed. This rapid development time shows the dedication of our small team here at PIES.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h2 class="number">Team</h2>
                            <p>
                              PIES consists of two core developers and three advisors. Each member of this small team contributes to the vision and high paced development of the network. We encourage you to do your own research on each one of us and build your own opinion of the individuals working hard to bring this vision to life.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h2>Vision</h2>
                            <p>
                                At PIES we believe by offering highly targeted content and respecting users time and data with fair compensation, PIES can reinvent the relationship between users and content publishers of any type.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <hr class="mb0">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h5 class="uppercase">
                                <strong>Principles</strong>
                            </h5>
                        </div>
                        <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                            <p class="mb0">Reclaim the value of digital advertising.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                            <p class="mb0">Build symbiotic connections between businesses and people.
                                <!-- <br /> but never complicated.</p> -->
                        </div>
                        <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                            <p class="mb0">Stimulate constructive thought and turn creative ideas into reality.
                                <!-- <br /> to the stimulation of ideas.</p> -->
                        </div>
                        <!-- <div class="col-md-3 col-sm-6 col-md-offset-3 mb-xs-24">
                            <p class="mb0">Reach relevent individuals in the community.
                                <br /> choosing to obey them.</p>
                        </div> -->
                        <!-- <div class="col-md-3 col-sm-6 mb-xs-24">
                            <p class="mb0">
                                <br /> that drive creativity forward.</p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <p class="mb0">
                                <br /> the hallmark of our work.</p>
                        </div> -->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <hr class="mb0">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <h5 class="uppercase">
                                <strong>Team</strong>
                            </h5>
                        </div>
                        <div class="col-md-9 col-sm-12 mb40 mb-xs-24 p0">
                            <div class="col-sm-7 mb64 mb-xs-24">
                                <img alt="Pic" src="../sources/images/stuart-mug.png" />
                            </div>
                            <div class="col-sm-5 mb64 mb-xs-24">
                                <h5 class="uppercase mb0">Stuart Grossman</h5>
                                <a href="https://www.linkedin.com/in/stuart-grossman-4b0ba782/"><i class="fa fa-linkedin fa-lg"></i></a>
                                <i class="inline-block mb40 mb-xs-24" style="font-size: 12px;">- CEO & Lead Software Engineer</i>
                                <p>
                                    With over 5 years of professional software development and over 10 years of informal development experience. Stuart has built, maintained, and developed multiple full stack applications. Leading PIES network from a standpoint of relevance and fresh entrepreneurial hunger, Stuart dreams of reinventing the space of online Advertising and information distribution.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                            <div class="col-sm-7 mb64 mb-xs-24">
                                <img alt="Pic" src="../sources/images/eugene.png" />
                            </div>
                            <div class="col-sm-5 mb64 mb-xs-24">
                                <h5 class="uppercase mb0">Eugene Grossman</h5>
                                <a href="https://www.linkedin.com/in/gene-grossman/"><i class="fa fa-linkedin fa-lg"></i></a>
                                <span class="inline-block mb40 mb-xs-24">- CTO, CF0 & lead Data Archetic</span>
                                <p>
                                   Posesses an accumulation of over 4 years of data analysis, including processing and curating big spatial data most recently for the fastest growing company in the world. Eugene’s ability to understand the big picture and create fast innovative solutions has made him a invaluable asset for the development of the PIES Network.
                                </p>
                            </div>
                        </div>
                        <!-- <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                            <div class="col-sm-7 mb64 mb-xs-24">
                                <img alt="Pic" src="../sources/foundry/img/team-3.jpg" />
                            </div>
                            <div class="col-sm-5 mb64 mb-xs-24">
                                <h5 class="uppercase mb0">Jacob Marsh</h5>
                                <span class="inline-block mb40 mb-xs-24">Art Director</span>
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                                </p>
                            </div>
                        </div> -->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!-- <hr class="mb0"> -->
            <!-- <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h5 class="uppercase">
                                <strong>Advisors</strong>
                            </h5>
                        </div>
                        <div class="col-md-9">
                            <div class="instafeed grid-gallery" data-user-name="mrareweb">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->

        </div>
        <script src="./sources/foundry/js/jquery.min.js"></script>
        <script src="./sources/foundry/js/bootstrap.min.js"></script>
        <script src="./sources/foundry/js/flickr.js"></script>
        <script src="./sources/foundry/js/flexslider.min.js"></script>
        <script src="./sources/foundry/js/lightbox.min.js"></script>
        <script src="./sources/foundry/js/masonry.min.js"></script>
        <script src="./sources/foundry/js/twitterfetcher.min.js"></script>
        <script src="./sources/foundry/js/spectragram.min.js"></script>
        <script src="./sources/foundry/js/ytplayer.min.js"></script>
        <script src="./sources/foundry/js/countdown.min.js"></script>
        <script src="./sources/foundry/js/smooth-scroll.min.js"></script>
        <script src="./sources/foundry/js/parallax.js"></script>
        <script src="./sources/foundry/js/scripts.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

        <script>
            var config = {
              apiKey: "AIzaSyBNyW7vjQSK2Gbrh4Mzox6G-uAG4gK1rgE",
              authDomain: "adspace-9fe5c.firebaseapp.com",
              databaseURL: "https://adspace-9fe5c.firebaseio.com",
              projectId: "adspace-9fe5c",
              storageBucket: "",
              messagingSenderId: "129227170241"
            };
            firebase.initializeApp(config);
            var provider = new firebase.auth.GoogleAuthProvider();
            var userObj;

            firebase.auth().onAuthStateChanged(function(user) {
              if(user){
               console.log("you are logged in!")
               userObj = user;
               if(userObj.uid){
                 console.log("user object found")
                 document.getElementById('dashboard').style.display = 'block';
                 document.getElementById('dashboard').style["margin-top"] = '7px';

                //  document.getElementById('logout').style.display = 'block';

               }
              }
              else{
                ///
                // console.log("no user object found")
                //
                document.getElementById('login').style.display = 'block';
                // document.getElementById('login').style.display = 'block';
                document.getElementById('login').style["margin-top"] = '7px';


                //  document.getElementById('dashboard').style.display = 'none';

              }
            })
            function login(){

              firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // console.log("inside login Function", user.email)
                setTimeout(function(){
                  // console.log(userObj)
                  dashboard();

                }, 1000)

                }).catch(function(error) {
                 // Handle Errors here.
                 var errorCode = error.code;
                 var errorMessage = error.message;
                 // The email of the user's account used.
                 var email = error.email;
                 // The firebase.auth.AuthCredential type that was used.
                 var credential = error.credential;
                //  console.log(errorCode, errorMessage, email, credential, error)
                 // ...
                });
            }
            function dashboard(){
              firebase.database().ref('/phone/' + userObj.uid).on('value', function(snapshot){
                if(snapshot.val()){
                  console.log(snapshot.val(), 'userType is avil');
                  if(snapshot.val().confirmed === true){
                    console.log(snapshot.val().confirmed);
                    firebase.database().ref('/usertype/' + userObj.uid).on('value', function(snapshot2){
                      if(snapshot2.val()){
                        console.log(snapshot2.val(), 'userType is avil');
                        var usertype = snapshot2.val().type;
                        if(usertype === 99){
                          window.location = "/a-settings";

                        }
                        if(usertype === 10){
                          window.location = "/v-settings";

                        }
                      }else{
                        window.location = "/usertype";
                      }
                    })
                  }
                }
                else{
                  window.location = "/phone";

                }
              })
            }



        </script>
    </body>

</html>
