<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PIES Network</title>


  <meta data-tid="elements_examples.meta.description" name="description" content="Build beautiful, smart checkout flows.">

  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon/180x180.png">
  <link rel="icon" href="img/apple-touch-icon/180x180.png">

  <script src="https://js.stripe.com/v3/"></script>
  <script src="token-purchase/js/index.js" data-rel-js></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="token-purchase/css/base.css" data-rel-css="" />

  <!-- CSS for each example: -->
  <link rel="stylesheet" type="text/css" href="token-purchase/css/custome.css" data-rel-css="" />
  <link rel="icon" href="./sources/images/darklogo.png">

</head>
<body>

  <div id="payment-request-button"> -->
  <!-- A Stripe Element will be inserted here. -->
</div>

</body>
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

<script>


var config = {
  apiKey: "AIzaSyBNyW7vjQSK2Gbrh4Mzox6G-uAG4gK1rgE",
  authDomain: "adspace-9fe5c.firebaseapp.com",
  databaseURL: "https://adspace-9fe5c.firebaseio.com",
  projectId: "adspace-9fe5c",
  storageBucket: "",
  messagingSenderId: "129227170241"
};
firebase.initializeApp(config);

var ref = firebase.database().ref('queue/tasks');
var userObject, tagBox;

firebase.auth().onAuthStateChanged(function(user) {
  if(user){
    userObject = user;
    // checkState(userObject);

    // asyncWait();
    // console.log(user)
    // document.getElementById('userImage').src = user.photoURL;
    // document.getElementById('userName').innerHTML = user.displayName;
    // getDefaultTags(userObject);
    // writeUserData(u)

  }else{
    window.location = '/';

  }
})
</script>
<script>
var stripe = Stripe('pk_test_458UUQemoncaOL21F82T0aMQ');

var paymentRequest = stripe.paymentRequest({
  country: 'US',
  currency: 'usd',
  total: {
    label: 'Demo total',
    amount: 1000,
  },
  requestPayerName: true,
  requestPayerEmail: true,
});
var elements = stripe.elements();
var prButton = elements.create('paymentRequestButton', {
  paymentRequest: paymentRequest,
});

// Check the availability of the Payment Request API first.
paymentRequest.canMakePayment().then(function(result) {
  if (result) {
    prButton.mount('#payment-request-button');
  } else {
    document.getElementById('payment-request-button').style.display = 'none';
  }
});
paymentRequest.on('token', function(ev) {
  // console.log(ev.token.id)
  // Send the token to your server to charge it!
  fetch('http://localhost:3000/charges', {
    method: 'POST',
    body: JSON.stringify({token: ev.token.id}),
    headers: {'content-type': 'application/json'},
  })
  .then(function(response) {
    if (response.ok) {
      // Report to the browser that the payment was successful, prompting
      // it to close the browser payment interface.
      ev.complete('success');
    } else {
      // Report to the browser that the payment failed, prompting it to
      // re-show the payment interface, or show an error message and close
      // the payment interface.
      ev.complete('fail');
    }
  });
});
var paymentRequest = stripe.paymentRequest({
  country: 'US',
  currency: 'usd',
  total: {
    label: 'Demo total',
    amount: 1000,
  },

  requestShipping: true,
  // `shippingOptions` is optional at this point:
  shippingOptions: [
    // The first shipping option in this list appears as the default
    // option in the browser payment interface.
    {
      id: 'free-shipping',
      label: 'Free shipping',
      detail: 'Arrives in 5 to 7 days',
      amount: 0,
    },
  ],
});
paymentRequest.on('shippingaddresschange', function(ev) {
  if (ev.shippingAddress.country !== 'US') {
    ev.updateWith({status: 'invalid_shipping_address'});
  } else {
    // Perform server-side request to fetch shipping options
    fetch('/calculateShipping', {
      data: JSON.stringify({
        shippingAddress: ev.shippingAddress
      })
    }).then(function(response) {
      return response.json();
    }).then(function(result) {
      ev.updateWith({
        status: 'success',
        shippingOptions: result.supportedShippingOptions,
      });
    });
  }
});
// elements.create('paymentRequestButton', {
//   paymentRequest: paymentRequest,
//   style: {
//     paymentRequestButton: {
//       type: 'default' | 'donate' | 'buy', // default: 'default'
//       theme: 'dark' | 'light' | 'light-outline', // default: 'dark'
//       height: '64px', // default: '40px', the width is always '100%'
//     },
//   },
// });
</script>
</html>
