<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>AdSpace</title>
  <link rel="stylesheet" type="text/css" href="../sources/css/bootstrap.min.css">

  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

</head>
<body>
<div class="well">

</div>
</body>
<script>
var config = {
  apiKey: "AIzaSyBNyW7vjQSK2Gbrh4Mzox6G-uAG4gK1rgE",
  authDomain: "adspace-9fe5c.firebaseapp.com",
  databaseURL: "https://adspace-9fe5c.firebaseio.com",
  projectId: "adspace-9fe5c",
  storageBucket: "",
  messagingSenderId: "129227170241"
};

firebase.initializeApp(config);
var ref = firebase.database().ref('queue/tasks');


firebase.auth().onAuthStateChanged(function(user) {
  if(user){
    console.log(user)
    // writeUserData(u)
  }
})



</script>

</html>
