<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>AdSpace</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

</head>
<body>
<div class="well">

</div>
<div class="well" id="uploadAdPreview0" style="display: none;">
  <video controls="" autoplay="" name="media" id="video0" width="320" height="240"></video>
</div>
<div class="well" id="uploadAdPreview1" style="display: none;">
  <video controls="" autoplay="" name="media" id="video1" width="320" height="240"></video>
</div>
<div class="well" id="uploadAdPreview2" style="display: none;">
  <video controls="" autoplay="" name="media" id="video2" width="320" height="240"></video>
</div>
</body>
<script>
var config = {
  apiKey: "AIzaSyBNyW7vjQSK2Gbrh4Mzox6G-uAG4gK1rgE",
  authDomain: "adspace-9fe5c.firebaseapp.com",
  databaseURL: "https://adspace-9fe5c.firebaseio.com",
  projectId: "adspace-9fe5c",
  storageBucket: "",
  messagingSenderId: "129227170241"
};

firebase.initializeApp(config);
var ref = firebase.database().ref('queue/tasks');
var userId;
var adsArray = [];
firebase.auth().onAuthStateChanged(function(user) {
  if(user){
    // writeUserData(u)
    userId = user.uid;
    console.log(userId)
    return firebase.database().ref('/user/' + userId + '/ads/').once('value').then(function(snapshot){
      var ads = snapshot.val();
      for(var k in ads){
        adsArray.push(ads[k].ipfsHash)
      }
      console.log(adsArray);
      if(adsArray.length > 0){
        for(var i = 0 ; i < adsArray.length ; i++){
          var ad = document.getElementById("uploadAdPreview" + i.toString());
          ad.style.display = "flex";
          var video = document.getElementById('video' + i.toString());
          console.log(video)
          var source = document.createElement('source');
          var previewUrl = 'http://localhost:8080/ipfs/' + adsArray[i]
          source.setAttribute('src', previewUrl);

          video.appendChild(source);
          video.pause();
        }
      }
    })
  }
})



</script>

</html>
