<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="./sources/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./sources/css/bootstrap-slider.min.css">
  <link rel="stylesheet" type="text/css" href="./sources/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./sources/css/slick.css">
  <link rel="stylesheet" type="text/css" href="./sources/css/home-style.css">
  <link rel="icon" href="./sources/images/pieslogo.png">
  <meta name="google-site-verification" content="H3vsDSHhe1n0avNVL9K5Spu9zWjAg29GhXwnDhFpHfc" />
  <title>PIES</title>
  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

</head>
<body>

  <div id="header-holder">
      <div class="bg-animation"></div>
      <nav id="nav" class="navbar navbar-default navbar-full">
          <div class="container-fluid">
              <div class="container container-nav">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="navbar-header">
                              <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                              <!-- <a class="logo-holder" href="index.html">
                                  <div class="logo" style="width:62px;height:18px"></div>
                              </a> -->
                          </div>
                          <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
                              <ul class="nav navbar-nav navbar-right">
                                  <!-- <li><a href="index.html">Home</a></li> -->
                                  <!-- <li class="dropdown">
                                      <a href="#pricing">Hosting <i class="fa fa-caret-down"></i></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="cloudhosting.html">Cloud Hosting</a></li>
                                        <li><a href="webhosting.html">Web Hosting</a></li>
                                        <li><a href="vpshosting.html">VPS Servers</a></li>
                                      </ul>
                                  </li> -->
                                  <!-- <li><a href="about.html">Company FAQ</a></li> -->


                                  <li><a target="_blank" href="https://docs.google.com/forms/d/1pZVSZ-_-jWOt7pMx6ssU0zuCPziehE0w8kwZVzCghZY/prefill">Token Sale</a></li>
                                  <!-- <li><a target="_blank" href="./sources/documents/whitepaper.pdf" href="/whitePaper">White Paper</a></li> -->
                                  <li><a href="contact.html">Team</a></li>
                                  <li><a onclick="login()" class="login-button" id="login">Login</a></li>
                                  <li><a onclick="dashboard()" class="login-button" id="dashboard" style="display: none;">Dashboard</a></li>
                                  <li><a onclick="logout()" class="login-button" id="logout" style="display: none;">Logout</a></li>


                                  <!-- <li class="support-button-holder support-dropdown">  -->
                                      <!-- <a class="support-button" href="#">Support</a>
                                      <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-phone"></i>Toll-Free  08-197-435-01</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>Start a Live Chat</a></li>
                                        <li><a href="#"><i class="fa fa-ticket"></i>Open a ticket</a></li>
                                        <li><a href="#"><i class="fa fa-book"></i>Knowledge base</a></li>
                                      </ul>
                                  </li>  -->
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
      <div id="top-content" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="big-title">
                        PIES Network
                        <br>
                      </div>
                      <div class="domain-search-holder">
                        <span style="font-size: 18px; color: white;">Precise Information Exchange Systems Network</span>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="arrow-button-holder">
                          <a href="#pricing">
                              <!-- <div class="button-text">Our Plan!</div> -->
                              <div class="arrow-icon">
                                  <i class="htfy htfy-arrow-down"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="info" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="info-text">
                    <p class="animation fadeIn" style="font-size: 16px;">
                      PIES Network, a blockchain based attention compensation environment focused on the secure, honest, and direct transfer of information.
                    </p>
                    <p class="animation fadeIn">
                      In an age where only the large corporations benefit from your personal data, people should have the option of being directly and fully compensated for the attention they give to information - most importantly personally curated advertisement relevant to personal interest. Advertisements shouldn’t be an annoying burden on society requiring extensions to block out, but a meaningful symbiotic relationship focused on minimizing waste and improving efficiency. PIES proposes to be a clean platform where consumers simply get paid for the attention they give to relevant interests.
                    </p>
                  </div>

                  <a href="#" class="ybtn ybtn-purple ybtn-shadow">Join the blockchain revolution!</a>
              </div>
          </div>
      </div>
  </div>
  <div id="services" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="row-title">
                    What is PIES?
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="service-box">
                      <div class="service-icon">
                          <img src="./sources/images/service-icon1.png" alt="">
                      </div>
                      <div class="service-title"><a href="#">Precise</a></div>
                      <div class="service-details">
                          <p>Using your data we will connect you with the best content for you specifically. Precision is guaranteed connecting content creators to their potential targets.</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="service-box">
                      <div class="service-icon">
                          <img src="./sources/images/service-icon2.png" alt="">
                      </div>
                      <div class="service-title"><a href="#">Information</a></div>
                      <div class="service-details">
                          <p>Data is the most valuable resource in the world. PIES network wants your data and in exchange wants to pay you what you deserve for it. We are using the best security practices in software to protect and store and secure our users data.
                          </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="service-box">
                      <div class="service-icon">
                          <img src="./sources/images/service-icon3.png" alt="">
                      </div>
                      <div class="service-title"><a href="#">Exchange</a></div>
                      <div class="service-details">
                          <p>We see money as information, and we want to distribute and decentrialize the practices of exchanging it. Our ERC20 Ethereum token PIES will serve as the internal currency for our network.</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="service-box">
                      <div class="service-icon">
                          <img src="./sources/images/service-icon4.png" alt="">
                      </div>
                      <div class="service-title"><a href="#">Systems</a></div>
                      <div class="service-details">
                          <p>We want our users to have a clean, friendly and unobtrusive experience from start to finish. We have built the most up to date web application implementing the best technologies to provide users with the experience they deserve!</p>
                      </div>
                  </div>
              </div>
            </div>

      </div>
  </div>

  <div id="message1" class="container-fluid message-area">
      <div class="bg-color"></div>
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="text-purple-light">Are you ready?</div>
                  <div class="text-purple-dark">Read our white paper, or contact us.</div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="buttons-holder">
                      <a target="_blank" href="./sources/documents/whitepaper.pdf" class="ybtn ybtn-purple">White Paper</a><a href="#footer" class="ybtn ybtn-white ybtn-shadow">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="pricing" class="container-fluid">
      <div class="bg-color"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="row-title">Advantages of PIES Network</div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6 col-md-6">
                  <div class="pricing-box pricing-color1">
                      <div class="pricing-content">
                          <div class="pricing-icon">
                              <div class="special-gradiant"></div>
                              <i class="htfy htfy-technology"></i>
                          </div>
                          <div class="pricing-title">Viewer</div>
                          <!-- <div class="pricing-price">free</div> -->
                          <div class="pricing-details">
                              <ul>
                                  <li>3 - 5 minute onboarding process</li>
                                  <li>Precise directed content towards your interests</li>
                                  <li>Get paid instantly for your views</li>
                                  <li>Top level data security</li>
                                  <!-- <li>Instant alerts</li> -->
                                  <li>
                                    Respects your time with fair value
                                  </li>
                                  <li>Opinions will matter to content publishers</li>
                                  <!-- <li>Support 24/7</li> -->
                                  <!-- <li class="not-included">Single Sign on</li>
                                  <li class="not-included">Unlimited Email accounts</li>
                                  <li class="not-included"></li>
                                  <li class="not-included">Linux server</li> -->
                              </ul>
                          </div>
                          <!-- <div class="pricing-link">
                              <a class="ybtn" href="#">Create New Account</a>
                          </div> -->
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-6">
                  <div class="pricing-box pricing-color2 featured">
                      <div class="pricing-content">
                          <div class="pricing-icon">
                              <div class="special-gradiant"></div>
                              <i class="htfy htfy-cloud"></i>
                          </div>
                          <div class="pricing-title">Content Publisher</div>
                          <div class="pricing-price"></div>
                          <div class="pricing-details">
                              <ul>
                                  <!-- <li>Unlimited Storage</li> -->
                                  <!-- <li>Up to 10 Ads</li> -->
                                  <li>
                                    Fast, simple, and easy to get started
                                  </li>
                                  <li>Precise content delivery</li>

                                  <li>The most curated & valuable userbase</li>
                                  <li>Realtime data metrics</li>
                                  <li>Custom feedback systems</li>
                                  <li>Valuable user feedback</li>
                                  <li>100% instant refunds</li>
                                  <!-- <li>Support 24/7</li> -->

                                  <!-- <li>Single Sign on</li> -->
                                  <!-- <li>Unlimited Email accounts</li> -->
                                  <!-- <li class="not-included">Support 24/7</li>
                                  <li class="not-included">Linux server</li> -->
                              </ul>
                          </div>
                          <!-- <div class="pricing-link">
                              <a class="ybtn" href="#">Create New Account</a>
                          </div> -->
                      </div>
                  </div>
              </div>
              <!-- <div class="col-sm-12 col-md-4">
                  <div class="pricing-box pricing-color3">
                      <div class="pricing-content">
                          <div class="pricing-icon">
                              <div class="special-gradiant"></div>
                              <i class="htfy htfy-computer"></i>
                          </div>
                          <div class="pricing-title">PIES network</div>
                          <div class="pricing-price">1 - 10% of transaction</div>
                          <div class="pricing-details">
                              <ul>
                                  <li>Small fee to pay for ethereum transactions</li>
                                  <li>Small fee to pay employees</li>
                                  <li>All Sharing Features</li>
                                  <li>Realtime Revoke</li>
                                  <li>Access to Party Integrations</li>
                                  <li>Free Native Apps</li>
                                  <li>QNote Editor</li>
                                  <li>Offline File Access</li>
                                  <li>Single Sign on</li>
                                  <li>Unlimited Email accounts</li>
                                  <li>Support 24/7</li>
                                  <li>Linux server</li>
                              </ul>
                          </div>
                          <div class="pricing-link">
                              <a class="ybtn" href="#">Create New Account</a>
                          </div>
                      </div>
                  </div>
              </div>-->
          </div>
      </div>
  </div>
  <!-- <div id="custom-plan" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4>Custom Hosting Plan</h4>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum div atque corrupti quos dolores et quas molestias.</p>
              </div>
              <div class="col-md-12">
                  <div class="custom-plan-box">
                      <input id="c-plan" type="text" data-slider-min="100" data-slider-max="10000" data-slider-step="100" data-slider-value="5000" data-currency="$" data-unit="GB">
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <div id="features" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="row-title">What is the plan?</div>
              </div>
          </div>
          <div class="row rtl-cols">
              <div class="col-sm-12 col-md-6">
                  <div id="features-links-holder">
                      <div class="icons-axis">
                          <img src="./sources/images/features-icon.png" alt="">
                      </div>
                      <div class="feature-icon-holder feature-icon-holder1 opened" data-id="1">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-worldwide"></i></div>
                          <div class="feature-title">Build the tech</div>
                      </div>
                      <div class="feature-icon-holder feature-icon-holder2" data-id="2">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-like"></i></div>
                          <div class="feature-title">Luanch the app</div>
                      </div>
                      <div class="feature-icon-holder feature-icon-holder3" data-id="3">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-location"></i></div>
                          <div class="feature-title">Gather the users</div>
                      </div>
                      <div class="feature-icon-holder feature-icon-holder4" data-id="4">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-download"></i></div>
                          <div class="feature-title">Gather the advertisers</div>
                      </div>
                      <div class="feature-icon-holder feature-icon-holder5" data-id="5">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-cogwheel"></i></div>
                          <div class="feature-title">Hire the team</div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div id="features-holder">
                      <div class="feature-box feature-d1 show-details">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-worldwide"></i></span>
                              <span class="feature-title">Our Technology</span>
                          </div>
                          <span>Q3 2017</span>
                          <br /><br />
                          <div class="feature-details">
                              <p>At PIES the developement philosophy is to build quick, build secure, go live. This applications development started in late June of 2017 and is nearing completion. At PIES, we believe simplicty is key along with artistic touch and clean responsive design.</p>

                              <p>PIES stack consists of JavaScript, Ethereum, HTML/CSS, Node, IPFS, Google Cloud and now TenserFlow integration. This stack of technology will create an incredibly reliable application stack that allows for easy scaling and fast development.</p>
                              <p>
                                PIES beta will launch in late Setember of 2017, less than a month away, long before any other AdTech ICO will have a viable product.
                              </p>

                          </div>
                      </div>
                      <div class="feature-box feature-d2">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-like"></i></span>
                              <span class="feature-title">Launch PIES Network</span>
                          </div>
                          <span>Q3 2017</span>
                          <br /><br />

                          <div class="feature-details">

                              <p>Once the inital beta is finished the ERC20 token sale will begin. This will be a small token sale only selling around 30% of the network to investors.</p>
                              <p>
                                After completion of ERC20 token sale the token will be moved on to seval exchanges where it will be publicaly traded. The site will immeditily open up to users to sign up, each user will be evaluated and placed into the network accordingly.
                              </p>
                              <!-- <p>We will identify our users base interests along with specific interests groups/ demographics this data will allow us to go after specific ecommerce and adveritsers merchants to intise them into our network of publishers</p> -->

                          </div>
                      </div>
                      <div class="feature-box feature-d3">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-location"></i></span>
                              <span class="feature-title">Gathering the user base</span>
                          </div>
                          <span>Q4 2017</span>
                          <br /><br />

                          <div class="feature-details">
                              <p>The success of PIES network will rely upon the creation of a valuable, intelligent and healthy group of users. </p>
                              <p>Value is not just measured in purchasing power, our criteria is going to look at many diverse factors to determine if a candidate is right to join the inital network.</p>

                              <p>PIES network wants to build a strong reputation among its future clientele and content publishers. By having an incredibly strong group of users, PIES network aims to become as profitable as possible for its clients and users.</p>
                              <p>
                                Users that join will be highly incentivize to grow the network through their peers and social media. Each time a new user is referred into the network and is accepted, the user who made the reference will receive 10$ worth of our PIES tokens.
                              </p>

                          </div>
                      </div>
                      <div class="feature-box feature-d4">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-download"></i></span>
                              <span class="feature-title">Gathering the content publishers</span>
                          </div>
                          <span>Q4 2017</span>
                          <br /><br />

                          <div class="feature-details">
                              <p>Once we have a strong inital userbase and a healthy ERC20 token we will start to aquire content publishers based on inital interal data and metrics of users.</p>
                              <p>
                                Using Tenser flow machine learning data visualizing techniques, PIES network will have an extremely accurate understanding of its user base and will be able to target specific content publisher with high efficiency.
                              </p>
                              <p>PIES network will offer incentives to new content publishers to allow them to see the power of the network.</p>
                          </div>
                      </div>
                      <div class="feature-box feature-d5">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-cogwheel"></i></span>
                              <span class="feature-title">Hire the team</span>
                          </div>
                          <span>Q1 2018</span>
                          <br /><br />

                          <div class="feature-details">
                              <p>PIES network will need to hire support staff and developers to maintain the network.</p>

                              <p>At this point we will go back into full development mode in an effort to refine and build new features and polish old ones. We want to build the most flexable data retrieval system on digital content ever designed, centered around the strongest user base in the world. Help us Join Today</p>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div id="testimonials" class="container-fluid">
      <div class="bg-color"></div>
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="row-title">Testimonials</div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div id="testimonials-slider">
                      <div>
                          <div class="details-holder">
                              <img class="photo" src="./sources/images/person1.jpg" alt="">
                              <h4>Chris Walker</h4>
                              <h5>CEO & CO-Founder @HelloBrandio</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas non ante non consequat. Aenean accumsan eros vel elit tristique, non sodales nunc luctus. Etiam vitae odio eget orci finibus auctor ut eget magna.</p>
                          </div>
                      </div>
                      <div>
                          <div class="details-holder">
                              <img class="photo" src="./sources/images/person2.jpg" alt="">
                              <h4>Chris Walker</h4>
                              <h5>CEO & CO-Founder @HelloBrandio</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas non ante non consequat. Aenean accumsan eros vel elit tristique, non sodales nunc luctus. Etiam vitae odio eget orci finibus auctor ut eget magna.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <div id="more-features" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="row-title">Our Promise</div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6 col-md-4">
                  <div class="mfeature-box">
                      <div class="mfeature-icon">
                          <i class="htfy htfy-tick"></i>
                      </div>
                      <div class="mfeature-title">Value</div>
                      <div class="mfeature-details">PIES Network will filter anyone from the network who attempts to abuse it. This is critical if we are to build a strong and long lasting community of users and content providers.</div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4">
                  <div class="mfeature-box">
                      <div class="mfeature-icon">
                          <i class="htfy htfy-tick"></i>
                      </div>
                      <div class="mfeature-title">Responsive</div>
                      <div class="mfeature-details">At PIES Network we believe the blockchain and this project as the future of digital content distribution. We have large plans for the growth and stability of the network. The developing team of this network is dedicated to providing the highest level of security, services, and design to our customers and partners.</div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="mfeature-box">
                      <div class="mfeature-icon">
                          <i class="htfy htfy-tick"></i>
                      </div>
                      <div class="mfeature-title">Fair</div>
                      <div class="mfeature-details">We are dedicated to provide the highest level of support to both our users and content publishers. We will never contest any transaction with our content publishers.</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div id="message2" class="container-fluid message-area normal-bg">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="text-purple-light">Are you ready? Join us and get valued as a potential user today!</div>
                  <div class="text-purple-dark">create an account, or contact us.</div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="buttons-holder">
                      <a href="#" class="ybtn ybtn-purple">Create Your Account</a><a href="#" class="ybtn ybtn-white ybtn-shadow">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <div id="footer" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-xs-6 col-sm-4 col-md-3">
                  <div class="address-holder">
                      <!-- <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div> -->
                      <div class="email"><i class="fa fa-envelope"></i> pies.network@gmail.com</div>
                      <!-- <div class="address">
                          <i class="fa fa-map-marker"></i>
                          <div>San Francisco, CA</div>
                      </div> -->
                  </div>
              </div>
              <div class="col-xs-6 col-sm-2 col-md-2">
                  <div class="footer-menu-holder">

                      <!-- <ul class="footer-menu">
                          <li><a href="about.html">About us</a></li>
                          <li><a href="blog.html">News</a></li>
                          <li><a href="faq.html">FAQ</a></li>
                          <li><a href="contact.html">Contact us</a></li>
                      </ul> -->
                  </div>
              </div>
              <div class="col-xs-6 col-sm-2 col-md-3">
                  <div class="footer-menu-holder">
                    <h4>4th Division INC</h4>
                    <div class="address">
                        <i class="fa fa-map-marker"></i>
                        <div>San Francisco, CA</div>
                    </div>
                      <!-- <ul class="footer-menu">
                          <li><a href="webhosting.html">Web Hosting</a></li>
                          <li><a href="cloudhosting.html">Cloud Hosting</a></li>
                          <li><a href="vpsservers.html">VPS Servers</a></li>
                          <li><a href="#">Domain Names</a></li>
                      </ul> -->
                  </div>
              </div>
              <!-- <div class="col-xs-6 col-sm-3 col-md-3">
                  <div class="footer-menu-holder">
                      <h4>Others</h4> -->
                      <!-- <ul class="footer-menu">
                          <li><a href="#">Transfer domains</a></li>
                          <li><a href="portal.html">Customer Portal</a></li>
                          <li><a href="#">Support Portal</a></li>
                          <li><a href="#">Video Tutorials</a></li>
                      </ul> -->
                  <!-- </div>
              </div> -->
              <div class="col-xs-12 col-sm-1 col-md-1">
                  <div class="social-menu-holder">
                      <ul class="social-menu">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      </ul>
                   </div>
              </div>

          </div>
      </div>
  </div>
</div>

<script src="./sources/js/home/home.js"></script>
<script src="./sources/js/jquery.min.js"></script>
<script src="./sources/js/bootstrap.min.js"></script>
<script src="./sources/js/bootstrap-slider.min.js"></script>
<script src="./sources/js/slick.min.js"></script>
<script src="./sources/js/main.js"></script>
</body>
</html>
