<!DOCTYPE html>
<html class="no-js" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="./sources/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./sources/css/bootstrap-slider.min.css">
  <link rel="stylesheet" type="text/css" href="./sources/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./sources/css/slick.css">
  <link rel="stylesheet" type="text/css" href="./sources/css/style.css">
  <title>AdSpace</title>
  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

</head>
<body>

  <div id="header-holder">
      <div class="bg-animation"></div>
      <nav id="nav" class="navbar navbar-default navbar-full">
          <div class="container-fluid">
              <div class="container container-nav">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="navbar-header">
                              <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                              <!-- <a class="logo-holder" href="index.html">
                                  <div class="logo" style="width:62px;height:18px"></div>
                              </a> -->
                          </div>
                          <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
                              <ul class="nav navbar-nav navbar-right">
                                  <li><a href="index.html">Home</a></li>
                                  <!-- <li class="dropdown">
                                      <a href="#pricing">Hosting <i class="fa fa-caret-down"></i></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="cloudhosting.html">Cloud Hosting</a></li>
                                        <li><a href="webhosting.html">Web Hosting</a></li>
                                        <li><a href="vpshosting.html">VPS Servers</a></li>
                                      </ul>
                                  </li> -->
                                  <li><a href="about.html">Company FAQ</a></li>
                                  <li><a href="#whmcs">Token Sale Active!</a></li>
                                  <li><a href="contact.html">Contact the Team!</a></li>
                                  <li><a onclick="login()" class="login-button">Login</a></li>
                                  <li class="support-button-holder support-dropdown">
                                      <!-- <a class="support-button" href="#">Support</a>
                                      <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-phone"></i>Toll-Free  08-197-435-01</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>Start a Live Chat</a></li>
                                        <li><a href="#"><i class="fa fa-ticket"></i>Open a ticket</a></li>
                                        <li><a href="#"><i class="fa fa-book"></i>Knowledge base</a></li>
                                      </ul>
                                  </li> -->
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
      <div id="top-content" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="big-title">AdSpace<br>
                        <span>The future of online advertising</span></div>
                      <div class="domain-search-holder">
                          <form id="domain-search">
                              <!-- <input id="domain-text" type="text" name="domain" placeholder="Write your domain name here.." />
                              <span class="inline-button">
                                  <input id="search-btn" type="submit" name="submit" value="Search">
                              </span> -->
                          </form>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="arrow-button-holder">
                          <a href="#pricing">
                              <div class="button-text">Our Plan!</div>
                              <div class="arrow-icon">
                                  <i class="htfy htfy-arrow-down"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="info" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="info-text">AdSpace is a blockchain based attention compensation environment focused on secure, honest, and direct transfer of information.</div>

                  <a href="#" class="ybtn ybtn-purple ybtn-shadow">Create Your Account</a>
              </div>
          </div>
      </div>
  </div>
  <div id="services" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="row-title">Our Services</div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="service-box">
                      <div class="service-icon">
                          <img src="./sources/images/service-icon1.png" alt="">
                      </div>
                      <div class="service-title"><a href="#">Web Application</a></div>
                      <div class="service-details">
                          <p>We are already building a top of the line bueatiful web application as a one stop simple market place for advertisers and users</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="service-box">
                      <div class="service-icon">
                          <img src="./sources/images/service-icon2.png" alt="">
                      </div>
                      <div class="service-title"><a href="#"></a></div>
                      <div class="service-details">
                          <p>At vero eos et accusamus et iusto odio dignissimos
  ducimus qui blanditiis praesentium voluptatum div
  atque corrupti quos dolores et quas molestias.</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="service-box">
                      <div class="service-icon">
                          <img src="./sources/images/service-icon3.png" alt="">
                      </div>
                      <div class="service-title"><a href="#">VPS Hosting</a></div>
                      <div class="service-details">
                          <p>At vero eos et accusamus et iusto odio dignissimos
  ducimus qui blanditiis praesentium voluptatum div
  atque corrupti quos dolores et quas molestias.</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="service-box">
                      <div class="service-icon">
                          <img src="./sources/images/service-icon4.png" alt="">
                      </div>
                      <div class="service-title"><a href="#">Cloud Hosting</a></div>
                      <div class="service-details">
                          <p>At vero eos et accusamus et iusto odio dignissimos
  ducimus qui blanditiis praesentium voluptatum div
  atque corrupti quos dolores et quas molestias.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="message1" class="container-fluid message-area">
      <div class="bg-color"></div>
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="text-purple-light">Are you ready?</div>
                  <div class="text-purple-dark">create an account, or contact us.</div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="buttons-holder">
                      <a href="#" class="ybtn ybtn-purple">Create Your Account</a><a href="#" class="ybtn ybtn-white ybtn-shadow">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="pricing" class="container-fluid">
      <div class="bg-color"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="row-title">Web Hosting Plans</div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6 col-md-4">
                  <div class="pricing-box pricing-color1">
                      <div class="pricing-content">
                          <div class="pricing-icon">
                              <div class="special-gradiant"></div>
                              <i class="htfy htfy-technology"></i>
                          </div>
                          <div class="pricing-title">Web Hosting</div>
                          <div class="pricing-price">$4.8</div>
                          <div class="pricing-details">
                              <ul>
                                  <li>Unlimited Storage</li>
                                  <li>500 Protected Files</li>
                                  <li>All Sharing Features</li>
                                  <li>Realtime Revoke</li>
                                  <li>Access to Party Integrations</li>
                                  <li>Free Native Apps</li>
                                  <li>QNote Editor</li>
                                  <li>Offline File Access</li>
                                  <li class="not-included">Single Sign on</li>
                                  <li class="not-included">Unlimited Email accounts</li>
                                  <li class="not-included">Support 24/7</li>
                                  <li class="not-included">Linux server</li>
                              </ul>
                          </div>
                          <div class="pricing-link">
                              <a class="ybtn" href="#">Create New Account</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4">
                  <div class="pricing-box pricing-color2 featured">
                      <div class="pricing-content">
                          <div class="pricing-icon">
                              <div class="special-gradiant"></div>
                              <i class="htfy htfy-cloud"></i>
                          </div>
                          <div class="pricing-title">Cloud Server</div>
                          <div class="pricing-price">$10.8</div>
                          <div class="pricing-details">
                              <ul>
                                  <li>Unlimited Storage</li>
                                  <li>500 Protected Files</li>
                                  <li>All Sharing Features</li>
                                  <li>Realtime Revoke</li>
                                  <li>Access to Party Integrations</li>
                                  <li>Free Native Apps</li>
                                  <li>QNote Editor</li>
                                  <li>Offline File Access</li>
                                  <li>Single Sign on</li>
                                  <li>Unlimited Email accounts</li>
                                  <li class="not-included">Support 24/7</li>
                                  <li class="not-included">Linux server</li>
                              </ul>
                          </div>
                          <div class="pricing-link">
                              <a class="ybtn" href="#">Create New Account</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="pricing-box pricing-color3">
                      <div class="pricing-content">
                          <div class="pricing-icon">
                              <div class="special-gradiant"></div>
                              <i class="htfy htfy-computer"></i>
                          </div>
                          <div class="pricing-title">VPS Server</div>
                          <div class="pricing-price">$18.8</div>
                          <div class="pricing-details">
                              <ul>
                                  <li>Unlimited Storage</li>
                                  <li>500 Protected Files</li>
                                  <li>All Sharing Features</li>
                                  <li>Realtime Revoke</li>
                                  <li>Access to Party Integrations</li>
                                  <li>Free Native Apps</li>
                                  <li>QNote Editor</li>
                                  <li>Offline File Access</li>
                                  <li>Single Sign on</li>
                                  <li>Unlimited Email accounts</li>
                                  <li>Support 24/7</li>
                                  <li>Linux server</li>
                              </ul>
                          </div>
                          <div class="pricing-link">
                              <a class="ybtn" href="#">Create New Account</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div id="custom-plan" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4>Custom Hosting Plan</h4>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum div atque corrupti quos dolores et quas molestias.</p>
              </div>
              <div class="col-md-12">
                  <div class="custom-plan-box">
                      <input id="c-plan" type="text" data-slider-min="100" data-slider-max="10000" data-slider-step="100" data-slider-value="5000" data-currency="$" data-unit="GB">
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <div id="features" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="row-title">All Features</div>
              </div>
          </div>
          <div class="row rtl-cols">
              <div class="col-sm-12 col-md-6">
                  <div id="features-links-holder">
                      <div class="icons-axis">
                          <img src="./sources/images/features-icon.png" alt="">
                      </div>
                      <div class="feature-icon-holder feature-icon-holder1 opened" data-id="1">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-worldwide"></i></div>
                          <div class="feature-title">%99 Uptime</div>
                      </div>
                      <div class="feature-icon-holder feature-icon-holder2" data-id="2">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-cogwheel"></i></div>
                          <div class="feature-title">Easy control panel</div>
                      </div>
                      <div class="feature-icon-holder feature-icon-holder3" data-id="3">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-location"></i></div>
                          <div class="feature-title">Email Marketing</div>
                      </div>
                      <div class="feature-icon-holder feature-icon-holder4" data-id="4">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-download"></i></div>
                          <div class="feature-title">1CLICK Script Installs</div>
                      </div>
                      <div class="feature-icon-holder feature-icon-holder5" data-id="5">
                          <div class="animation-holder"><div class="special-gradiant"></div></div>
                          <div class="feature-icon"><i class="htfy htfy-like"></i></div>
                          <div class="feature-title">7/24 Support</div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div id="features-holder">
                      <div class="feature-box feature-d1 show-details">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-worldwide"></i></span>
                              <span class="feature-title">%99 Uptime</span>
                          </div>
                          <div class="feature-details">
                              <p>We are only using the best when it comes to the technology implemented inside our web application. IPFS or inter planitary file system will be our main actor for storage.</p>

                              <p>IPFS will allow us to distribute the load of storage, keep costs low and securty high.</p>
                          </div>
                      </div>
                      <div class="feature-box feature-d2">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-cogwheel"></i></span>
                              <span class="feature-title">Easy control panel</span>
                          </div>
                          <div class="feature-details">
                              <p>At vero eos et accusamus et iusto odio dignissimos
                                  ducimus qui blanditiis praesentium voluptatum div
                                  atque corrupti quos dolores et quas molestias.</p>

                              <p>dignissimos ducimus qui blanditiis praesentium
                                  voluptatum div atque corrupti quos dolores et quas
                                  unimo molestias.</p>
                          </div>
                      </div>
                      <div class="feature-box feature-d3">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-location"></i></span>
                              <span class="feature-title">Email Marketing</span>
                          </div>
                          <div class="feature-details">
                              <p>At vero eos et accusamus et iusto odio dignissimos
                                  ducimus qui blanditiis praesentium voluptatum div
                                  atque corrupti quos dolores et quas molestias.</p>

                              <p>dignissimos ducimus qui blanditiis praesentium
                                  voluptatum div atque corrupti quos dolores et quas
                                  unimo molestias.</p>
                          </div>
                      </div>
                      <div class="feature-box feature-d4">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-download"></i></span>
                              <span class="feature-title">1CLICK Script Installs</span>
                          </div>
                          <div class="feature-details">
                              <p>At vero eos et accusamus et iusto odio dignissimos
                                  ducimus qui blanditiis praesentium voluptatum div
                                  atque corrupti quos dolores et quas molestias.</p>

                              <p>dignissimos ducimus qui blanditiis praesentium
                                  voluptatum div atque corrupti quos dolores et quas
                                  unimo molestias.</p>
                          </div>
                      </div>
                      <div class="feature-box feature-d5">
                          <div class="feature-title-holder">
                              <span class="feature-icon"><i class="htfy htfy-like"></i></span>
                              <span class="feature-title">7/24 Support</span>
                          </div>
                          <div class="feature-details">
                              <p>At vero eos et accusamus et iusto odio dignissimos
                                  ducimus qui blanditiis praesentium voluptatum div
                                  atque corrupti quos dolores et quas molestias.</p>

                              <p>dignissimos ducimus qui blanditiis praesentium
                                  voluptatum div atque corrupti quos dolores et quas
                                  unimo molestias.</p>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="testimonials" class="container-fluid">
      <div class="bg-color"></div>
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="row-title">Testimonials</div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div id="testimonials-slider">
                      <div>
                          <div class="details-holder">
                              <img class="photo" src="./sources/images/person1.jpg" alt="">
                              <h4>Chris Walker</h4>
                              <h5>CEO & CO-Founder @HelloBrandio</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas non ante non consequat. Aenean accumsan eros vel elit tristique, non sodales nunc luctus. Etiam vitae odio eget orci finibus auctor ut eget magna.</p>
                          </div>
                      </div>
                      <div>
                          <div class="details-holder">
                              <img class="photo" src="./sources/images/person2.jpg" alt="">
                              <h4>Chris Walker</h4>
                              <h5>CEO & CO-Founder @HelloBrandio</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas non ante non consequat. Aenean accumsan eros vel elit tristique, non sodales nunc luctus. Etiam vitae odio eget orci finibus auctor ut eget magna.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="more-features" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="row-title">Our Promise</div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6 col-md-4">
                  <div class="mfeature-box">
                      <div class="mfeature-icon">
                          <i class="htfy htfy-tick"></i>
                      </div>
                      <div class="mfeature-title">100% Secure</div>
                      <div class="mfeature-details">Using distributed technology, along with the best security pratices in webdevelopment you can place your trust in us. </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4">
                  <div class="mfeature-box">
                      <div class="mfeature-icon">
                          <i class="htfy htfy-tick"></i>
                      </div>
                      <div class="mfeature-title">Active & Responsive Developers</div>
                      <div class="mfeature-details">To us here at AdSpace this project is our life and our responsibilty to see it come to the high vision we have set out for.</div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="mfeature-box">
                      <div class="mfeature-icon">
                          <i class="htfy htfy-tick"></i>
                      </div>
                      <div class="mfeature-title">Best Support</div>
                      <div class="mfeature-details">Once the project is online we will make it a priority to hire the best support staff money can buy.</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="message2" class="container-fluid message-area normal-bg">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="text-purple-light">Are you ready? Join us and get valued as a potential user today!</div>
                  <div class="text-purple-dark">create an account, or contact us.</div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="buttons-holder">
                      <a href="#" class="ybtn ybtn-purple">Create Your Account</a><a href="#" class="ybtn ybtn-white ybtn-shadow">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="footer" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-xs-6 col-sm-4 col-md-3">
                  <div class="address-holder">
                      <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                      <div class="email"><i class="fa fa-envelope"></i> adspace@gmail.com</div>
                      <div class="address">
                          <i class="fa fa-map-marker"></i>
                          <div>San Francisco, CA 94128 1232 Futlon Drive</div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-2 col-md-2">
                  <div class="footer-menu-holder">
                      <h4>Company</h4>
                      <ul class="footer-menu">
                          <li><a href="about.html">About us</a></li>
                          <li><a href="blog.html">News</a></li>
                          <li><a href="faq.html">FAQ</a></li>
                          <li><a href="contact.html">Contact us</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-2 col-md-3">
                  <div class="footer-menu-holder">
                      <h4>Services</h4>
                      <ul class="footer-menu">
                          <li><a href="webhosting.html">Web Hosting</a></li>
                          <li><a href="cloudhosting.html">Cloud Hosting</a></li>
                          <li><a href="vpsservers.html">VPS Servers</a></li>
                          <li><a href="#">Domain Names</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3">
                  <div class="footer-menu-holder">
                      <h4>Others</h4>
                      <ul class="footer-menu">
                          <li><a href="#">Transfer domains</a></li>
                          <li><a href="portal.html">Customer Portal</a></li>
                          <li><a href="#">Support Portal</a></li>
                          <li><a href="#">Video Tutorials</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-1 col-md-1">
                  <div class="social-menu-holder">
                      <ul class="social-menu">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<script src="./sources/js/home/home.js"></script>
<script src="./sources/js/jquery.min.js"></script>
<script src="./sources/js/bootstrap.min.js"></script>
<script src="./sources/js/bootstrap-slider.min.js"></script>
<script src="./sources/js/slick.min.js"></script>
<script src="./sources/js/main.js"></script>
</body>
</html>
